:root {
  --main-font: raleway;
  --accent-font: 'STIX Two Text';
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #f3efec);
}

.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
}

.content-section {
  padding: 0 5vi;
}

.header {
  padding-block-start: 10%;
}

.header__title {
  margin-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.content__title {
  margin: 7% 0 2.5%;
  font-size: 30px;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__text-block a {
  color: inherit;
}